{% extends "index.html" %}
{% load static %}

{% block content %}
<body class="bg-black bg-opacity-25">
    <div class="container form-login">
        <div class="container  bg-white " style="padding: 25px; border: 2px solid rgb(221, 221, 221); border-radius: 10px;">
            <header class="">
                <h1 style="font-size: 16px; text-align: center;">
                    {% comment %} <b>Oturum açın veya kaydol</b> {% endcomment %}
                </h1>
                <hr class="w-100">
            </header>
            <!-- OTURUM AÇ HEADER END-->
            <!-- FORM START -->
            <div class="kayıt-ol">
                <div class="headeralt">
                    <h3 class="headerbaslik" style="margin-top: 30px;">Airbnb'ye Hoş Geldiniz</h3>
                </div>
                <form class="register" action="" method="POST" >
                        {% csrf_token %}
                        <input type="text" name="username" value="{{username}}" required id="" class="form-control p-3 rounded-top-3" placeholder="Kullanıcı adı">
                        <input type="email" name="email" id="" value="{{email}}" required class="form-control p-3" placeholder="Email">
                        <input type="password" name="password1" required id="" class="form-control p-3" placeholder="Şifre">
                        <input type="password" name="password2" required id="" class="form-control p-3 rounded-bottom-3" placeholder="Şifre Tekrar">
                    <div style="margin-top: 10px;">
                        <span style="font-size: 12px;">
                            Numaranızı doğrulamak için sizi
                            arayacağız veya bir kısa mesaj göndereceğiz. Standart mesaj ve veri ücretleri
                            uygulanır.
                            <a target="_blank" href="#" style="color: black;">Gizlilik Politikası</a>
                        </span>
                    </div>
                    <input type="submit" value="Devam et" class="btn btn-primary w-100 mt-2 p-2" style="background-color: #e31c5f; color: white; border: 1px solid #e31c5f; border-radius: 5px;">
                    <div>
                        <div class="and" style="display: flex; align-items: center; margin-top: 15px; gap: 5px;">
                            <div class="hr1"></div>
                            <div class="veya" style="font-size:12px;">veya</div>
                            <div class="hr2"></div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <!-- FACEBOOK -->
                            <div class="" style="margin-top: 15px;">
                                <form method="POST" data-testid="auth-form">
                                    <button class="facebookbtn"
                                        style="background-color: white; width: 100%; height: 50px; border-radius: 10px; border: 1px solid black;"
                                        type="submit">

                                        <div class="row d-flex align-items-center">
                                            <div class="col-2 text-start">
                                                <i style="margin-left: 20px; color: #005eff;"
                                                    class="fa-brands fa-facebook"></i>
                                            </div>
                                            <div class="col-10 text-start">
                                                <span>Facebook ile devam et</span>
                                            </div>
                                        </div>

                                    </button>
                                </form>
                            </div>
    
                            <!-- GOOGLE -->
                            <div class="" style="margin-top: 15px;">
                                <form method="POST" data-testid="auth-form">
                                    <button class="googlebtn" type="submit"
                                        style="background-color: white; width: 100%; height: 50px; border: 1px solid black; border-radius: 10px;">

                                        
                                        <div class="row d-flex align-items-center">
                                            <div class="col-2 text-start">
                                                <i class="fa-brands fa-google"
                                                style="margin-left: 20px; color: #ff0000;"></i>
                                            </div>
                                            <div class="col-10 text-start">
                                                <span>Google ile devam et</span>
                                            </div>
                                        </div>

                                    </button>
                                </form>
                            </div>
    
                            <!-- APPLE -->
                            <div class="" style="margin-top: 15px;">
                                <form method="POST" data-testid="auth-form">
                                    <button class="applebtn" type="submit"
                                        style="background-color: white; width: 100%; height: 50px; border: 1px solid black; border-radius: 10px;">

                                        <div class="row d-flex align-items-center">
                                            <div class="col-2 text-start">
                                                <i class="fa-brands fa-apple"
                                                    style="margin-left: 20px; color: #000000;"></i>
                                            </div>
                                            <div class="col-10 text-start">
                                                <span>Apple ile devam et</span>
                                            </div>
                                        </div>

                                    </button>
                                </form>
                            </div>
    
                            <!-- E-POSTA -->
                            <div class="" style="margin-top: 15px;">
                                <button class="mailbtn" type="submit"
                                    style="background-color: white; width: 100%; height: 50px; border: 1px solid black; border-radius: 10px;">

                                    <div class="row d-flex align-items-center">
                                        <div class="col-2 text-start">
                                            <i class="fa-solid fa-envelope" style="margin-left: 20px; color: #000000;"></i>
                                        </div>
                                        <div class="col-10 text-start">
                                            <span>E-posta ile devam et</span>
                                        </div>
                                    </div>

                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
   
</body>
{% endblock content %}

